.lead__image {
  max-width: 984px;
  max-height: 615px;
  object-fit: cover;
  width: 100%;
  height: auto;
  margin-top: 64px;
  display: block;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    margin-top: 40px;
  }
}
